      <?xml version="1.0" encoding="UTF-8"?>
      <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
      <plist version="1.0">
      <dict>
      <key>Label</key>
      <string>org.email.check-gmail</string>
      <key>OnDemand</key>
      <true/>
      <key>ProgramArguments</key>
      <array>
      <string>/usr/bin/python</string>
      <string>/Users/Path/to/your/check-gmail.py</string>
      </array>
      <key>StartInterval</key>
      <integer>60</integer>
      </dict>
      </plist>
